# =========================
# Godot
# =========================

~*.dll
.godot/
.nomedia
.import/
export.cfg
export_credentials.cfg
*.tmp
*.translation
.mono/
data_*/
mono_crash.*.json


# =========================
# Python Backend
# =========================

# Environment/secrets
.env

# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Pytest
.pytest_cache/